<h1>Inventory of Products</h1>

<div *ngIf="products">
<table mat-table [dataSource]="products">

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let product"> {{product.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let product"> {{product.name}} </td>
    </ng-container>

    <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Quantity </th>
        <td mat-cell *matCellDef="let product">
            <div *ngIf="product!=productToModify">
                {{product.quantity}}
            </div>
            <div *ngIf="shouldShowTextbox && product==productToModify && productToModify!=null">
                <input type="number" [value]="product.quantity" (change)="changeValue($event)" type="number" required>
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="contractor">
        <th mat-header-cell *matHeaderCellDef> Contractor </th>
        <td mat-cell *matCellDef="let product"> {{product.contractor}} </td>
    </ng-container>

    <ng-container matColumnDef="modify">
        <th mat-header-cell *matHeaderCellDef> Contractor </th>
        <td mat-cell *matCellDef="let product"> 
            <button mat-raised-button (click)="onModify($event, product)">Modify</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

</div>

