<h1>Received Orders</h1>

<div *ngIf="orders">
<table mat-table [dataSource]="orders">

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let order"> {{order.id}} </td>
    </ng-container>

    <ng-container matColumnDef="product">
        <th mat-header-cell *matHeaderCellDef> Product </th>
        <td mat-cell *matCellDef="let order"> {{order.product}} </td>
    </ng-container>

    <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Quantity </th>
        <td mat-cell *matCellDef="let order"> {{order.quantity}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let order"> {{order.date}} </td>
    </ng-container>

    <ng-container matColumnDef="completed">
        <th mat-header-cell *matHeaderCellDef> Completed </th>
        <td mat-cell *matCellDef="let order"> {{order.completed}} </td>
    </ng-container>

    <ng-container matColumnDef="complete">
        <th mat-header-cell *matHeaderCellDef> Complete </th>
        <td mat-cell *matCellDef="let order">
            <ng-container *ngIf="!order.completed">
                <button mat-raised-button (click)="onComplete(order)">Complete</button>
            </ng-container>
        </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<br><br>
<app-form (newItemEvent)="addItemToDataSource($event)"></app-form>

</div>

