<h3>Place a new order:</h3><br>
<form [formGroup]="form" (ngSubmit)="orderProduct(form)">
    
    <mat-form-field appearance="fill">
        <mat-label>Product</mat-label>
        <mat-select [formControlName]="'product'">
        <mat-option *ngFor="let product of productsList" [value]="product" >{{product}}</mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>Quantity</mat-label>
        <input matInput maxlength="15" inputmode="tel" placeholder="Type name" formControlName="quantity">
        <mat-error>Quantity is required</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Submit</button>
</form>
